

/*contacts*/
.contacts {
	height: 46px;
	background-color: #222534;
	}
.contacts .container-fluid {
	min-height: 46px;
	}
.social {
	text-align: center;
/*margin-left: 180px;*/
/*padding-right: 120px;*/
	}
.social-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
	margin: 0;
	padding: 0;
    vertical-align: middle;
    color: #ffffff;
    background-image: url("../img/social.png");
    background-repeat: no-repeat;
	background-size: 200px 65px;
    border: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 0;
	margin-top: 10px;
}
.social-btn-fb {
	background-position: -9px -37px;
	}
.social-btn-tw {
	background-position: -37px -37px;
	}
.social-btn-in {
	background-position: -64px -37px;
	}
.social-btn-vk {
    background-position: -91px -37px;
}
.social-btn-odn {
	background-position: -119px -37px;
	}
.social-btn-youtube {
	background-position: -146px -37px;
	}
.vubor-cluba {
	/*margin-left: 40px;*/
	max-width: 250px;
	min-width: 220px;
	padding-left: 0;
	}
.vubor-cluba>ul {
	list-style: none;
	position: relative;
	padding: 0;
	max-width: 250px;
	}
.klub-button {
	background: linear-gradient(to bottom, #062102, #176b09);
text-decoration: none;
max-width: 232px;
height: 50px;
border-radius: 0 0 30px 30px;
color: #ffffff;
font-size: 25px;
font-style: italic;
padding: 10px 0px;
text-align: center;}

.spisok-klubov {width: 1389px;
min-height: 135px;
position: absolute;
top: 46px;
left: -570px;
background-color: #434551;
margin: 0;
list-style: none;
z-index: 2000;
display: none;
padding-left: 100px;}
.spisok-klubov li {max-width: 300px;
margin: 20px 60px 10px 60px;
font-size: 20px;
font-weight: normal;
position: relative;}
.spisok-klubov li a {text-decoration: none;
color: #ffffff;}
.spisok-klubov li::before {content: "";
position: absolute;
width: 45px;
height: 45px;
background: url(../img/gym_icon_white.png) no-repeat;
left: -45px;
top: 7px;}
.vubor-cluba:hover .spisok-klubov {display: block;}
.new-button:hover .spisok-klubov {display: block;}
.spisok-klubov li a:hover {color: #4ab72a;}

.phone-email {text-align: right;
color: #ffffff;
/*margin-top: 7px;*/
/*max-width: 300px;*/
}
.phone-email p {display: inline;
margin-right: 5px;
margin-left: 10px;
}
.phone-email p span {font-size: 20px;
font-weight: bold;
margin-right: 5px;}
.phone {font-weight: bold;}
.zvonok button {width: 167px;
color: #ffffff;
text-align: right;
background: linear-gradient(to bottom, #5bd920 0px, #2d980c 13px, #2d980c 21px, #0ca902 21px);
height: 36px;
border: none;
border-radius: 10px;
margin-top: 5px;
font-size: 15px;
}

/*Main menu*/
.main-menu {min-height: 134px;
z-index: 0.5;}
.main-menu ul {list-style: none;
padding-top: 60px;
padding-bottom: 25px;
margin-left: 80px;}
.main-menu ul li {text-transform: uppercase;
padding: 0;
margin-top: 8px;
padding-left: 2px;
padding-right: 2px;
}
.main-menu ul li a {color: #0b0800;
font-size: 17px;
font-weight: bold;}
.main-menu .logo {max-width: 220px;
margin-top: 0px;
margin-left: 10px;
margin-right: 20px;
z-index: 0.5;}
.main-menu .col-lg-2 {max-width: 160px;
}
.main-menu ul li a:hover:not(.logo) {color: #1abc9c;}
.raspisanie {text-align: center;}
/*PROMO*/
.promo_1 {
	min-height: 210px;
	background: url(../img/press_header.jpg) no-repeat 0px -70px;
	background-size: cover;
	text-align: center;
	/*padding-top: 15px;
	padding-bottom: 15px;*/
	}
.promo_1 img {margin-bottom: 25px;}
.promo_1 p {color: #ffffff;
font-size: 28px;}
.promo_2 {
	height: 520px;
	background: url(../img/spina.jpg) no-repeat 0px -190px;
	background-size: cover;
	padding-top: 70px;
	}
.promo_2 img {width: 450px;
height: 120px;
margin-left: 80px;
float: left;}
.promo_2 p {text-align: right;
color: #ffffff;
font-size: 35px;
text-transform: uppercase;
margin-top: 30px;
margin-right: 55px;}
.promo_2 p span {font-weight: bold;}
/*USLUGI*/
.uslugi {min-height: 360px;
padding-top: 20px;}
.uslugi-club {min-height: 320px;}
h2 {text-align: center;
color: #2c3e50;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 5px;
margin-bottom: 10px;
font-weight: bold;
line-height: 1.1;}
.separator {text-align: center;
margin-bottom: 10px;}
.usluga-description {
	text-align: center;
	/*margin: 0px 10px 15px 10px;
	max-width: 255px;*/
	}
.usluga-description h3 {font-size: 18px;
letter-spacing: 1px;
font-weight: bold;
text-transform: uppercase;
min-height: 50px;
margin-bottom: 0px;}
.usluga-description span {color: #30c59b;
margin: 0;}
.usluga-description p {font-size: 13px;
margin-top: 5px;}
/*ZAPISATSYA*/
.zapisatsya
{min-height: 477px;
}
.zapisatsya h2 {color: #ffffff;
margin-top: 106px;}
.zapisatsya form {margin-top: 30px;
/*float: right;*/
padding: 0;
width: 100%}
.zapisatsya .left-form {/*float: left;*/
/*margin-right: 70px;*/
padding: 0;}
.left-form input {width: 320px;
background-color: #222534;
color: #ffffff;
border: 2px solid #282840;
margin-bottom: 15px;
padding: 15px 20px 15px 20px;
text-transform: uppercase;
}
.left-form input:focus {border: 2px solid #686482;}
.zapisatsya .right-form {/*float: right;*/
/*max-width: 885px;*/
text-align: center;}
.zapisatsya form .row{margin: 0;}
.right-form h4 {margin: 0px;
margin-bottom: 10px;
color: #2da220;
font-size: 18px;
text-align: center;}
.right-form input {display: none;}
.right-form .club {max-width: 210px;
height: 90px;
color: #ffffff;
background-color: #464652;
padding: 10px 15px 10px 15px; 
margin-right: 50px;
font-weight: normal;
vertical-align: middle;
font-size: 15px;
position: relative;}
.right-form .last-club {margin-right: 0;}
.club:hover {color: #4ab72a;}
input:checked+.club {color: #25780d;}
.right-form label::before {content: "";
width: 16px;
height: 16px;
position: absolute;
border: 1px solid #646464;
top: 0px;
left: -25px;
background-color: #ffffff;}
.agreement {/*max-width: 850px;*/
float: right;
color: #ffffff;
position: relative;
padding: 0px;
font-size: 10px;
font-weight: normal;
margin-top: 20px;
text-align: left;}
input:checked+.agreement::before,
input:checked+.club::before {content: "V";
color: #25780d;
font-size: 16px;
line-height: 0.9;
padding-left: 2px;
text-transform: uppercase;
font-weight: bold;
}
.right-form button {text-align: center;
width: 365px;
color: #ffffff;
text-transform: uppercase;
background-color: #22a10a;
padding: 10px 0px;
font-weight: bold;
border: none;
margin-top: 30px;
border-radius: 4px;}
/*CLUB-CARD*/
.club-card {min-height: 430px;}
.slogan {text-align: center;
color: #00355b;
font-size: 18px;
margin-bottom: 30px;}
.card-descriptoin {
	/*max-width: 230px;
	margin: 0px 15px 55px 15px;*/
	text-align: center;
	padding: 0;
	}
	
/*.club-card .row {padding-left: 40px;
}*/
.card-descriptoin .center {min-height: 80px;
text-align: center;
}
.card-descriptoin p {display: inline-block;
margin-top: 30px;
text-transform: uppercase;
width: 90px;
text-align: left;
}
.card-descriptoin p span {font-weight: bold;}
.card-descriptoin .weekend {padding-top: 20px;}
/*SKIDKA NA KARTU*/
.skidka-na-kartu {min-height: 554px;
}
.skidka-na-kartu h2 {color: white;
margin-bottom: 115px;}
.skidka-na-kartu form{max-width: 760px;
margin-left: auto;
margin-right: auto;}
.skidka-left{float: left;
max-width: 325px;}
.skidka-left input {width: 300px;
margin-bottom: 25px;
background-color: #222533;
border: 2px solid #2a2b4b;
color: #ffffff;
border-radius: 4px;
text-transform: uppercase;
padding: 0px 19px;
line-height: 47px;
font-size: 14px;}
.skidka-left input:focus {border-color: #39416a;}
.skidka-right{float: right;
max-width: 330px;
padding: 0;
text-align: center;}
.skidka-right input {display: none;}
.skidka-right label {
color: #ffffff;
font-size: 12px;
line-height: 20px;
text-align: center;
width: 330px;
padding:0;
padding-top: 10px;}
.skidka-right label::before{content: "";
width: 14px;
height: 14px;
float: left;
border: 1px solid #646464;
background-color: #ffffff;
margin-right: 10px;
margin-top: 3px;}
.skidka-right input:checked+label::before{content: "V";
color: #25780d;
font-size: 16px;
line-height: 0.9;
padding-left: 1px;
text-transform: uppercase;
font-weight: bold;
}
.skidka-right button {width: 330px;
color: #ffffff;
text-transform: uppercase;
background-color: #22a10a;
padding: 10px 125px 10px 125px;
font-weight: bold;
border: none;
border-radius: 4px;
line-height: 50px;
padding: 0 20px;
margin-top: 10px;}
button:hover {background: #175f08;}
/*GALERY*/
.galery {min-height: 982px;}
/*RASPISANIE*/

.club-check {margin: 50px 20px 0px 20px;
max-width: 340px;
background: url(../img/raspisanie.png) no-repeat;
height: 580px;
border-radius: 4px;
padding: 25px 5px 0 5px;}
.club-name {max-width: 330px;
background-color: rgba(245, 245, 245, .7);
height: 240px;
color: #2d2d2d;
text-align: center;
font-weight: bold;
padding-top: 20px;
margin-bottom: 150px;}
.club-name h4 {font-size: 28px;
line-height: 50px;
margin-bottom: 40px;}
.club-name p {font-size: 16px;
padding: 20px;}
.club-check button {text-decoration: none;
width: 218px;
text-transform: uppercase;
font-size: 20px;
padding: 15px 40px 15px 40px;
background-color: rgba(245, 245, 245, .7);
border: none;
border-radius: 4px;}
.club-check button a {color: #191816;}
.club-check button:hover {background-color: rgba(245, 245, 245, 1)}

/*PAGE2*/

/*Promo-Photo*/
.promo-photo {min-height: 600px;}
.promo-left {background: url(../img/club-1.jpg) no-repeat;
background-size: cover;
height: 600px;
float:left;
padding:0;
margin: 0;
padding-top: 100px;}
.promo-right {
height: 600px;
float:right;
padding: 0;
margin: 0;}
.promo-right-top {background: url(../img/club-2.jpg) no-repeat;
background-size: cover;
height: 300px;}
.promo-right-bottom {background: url(../img/club-3.jpg) no-repeat;
background-size: cover;
height: 300px;}
.promo-text {width: 65%;
min-height: 240px;
padding: 20px 40px 20px 40px;
background-color: rgba(245, 245, 245, .7);
}
.promo-text p {color: #35ad27;
font-size: 34px;
text-shadow: #000105  1px 1px 0, #000105  -1px -1px 0, 
                 #000105  -1px 1px 0, #000105  1px -1px 0;}
/*Promo-photo-club*/
.promo-photo-club {min-height: 210px;
background: url(../img/header.other.jpg) no-repeat;
background-size: cover;
text-align: center;
padding-top: 30px;
padding-bottom: 15px;
background-attachment:fixed;
  background-size: cover;}
.promo-photo-club img {margin-bottom: 25px;
width: 440px;}
.promo-photo-club p {color: #ffffff;
font-size: 28px;}
/*TRENER*/
.trener {min-height: 630px;}
.trener-introduction {height: 467px;
max-width: 260px;
/*
margin-left: 15px;
margin-right: 15px;
*/
margin: 0 auto;
}
.trner-img {height: 370px;
width: 260px;
position: relative;}
.trener-name {position: absolute;
bottom: -10px;
right: -1px;
width: 235px;
color: #ffffff;
text-transform: uppercase;
background-color: rgba(181, 25, 134, .8);
transform: skewY(-5deg);
padding-left: 10px;
height: 88px;
z-index: 2;}
.trener-name h4 {font-weight: bold;
letter-spacing: 1px;
font-size: 14px;}
.trener-name p {font-size: 9px;}
.trner-img::after {content: "";
width: 230px;
height: 60px;
position: absolute;
bottom: 25px;
right: 16px;
background-color: #29a513;
z-index: 1;
transform: skewY(-5deg);}
.trener-description {width: 262px;
height: 100px;
text-align: center;
padding-top: 25px;
z-index: 3;
color: #798281;
background-color: #25262b;
font-style: italic;
line-height: 20px;
font-size: 14px; 
position: relative;}
.trener-description span {font-size: 11px;}
/*Promo-slogan-club*/
.promo-slogan-club{min-height: 220px;
text-align: center;
padding-top: 95px;
font-size: 22px;
color: #ffffff;
background: url(../img/woman-fitness-gym-elongation.jpg) no-repeat;
background-attachment:fixed;
  background-size: cover;}
#raspisanie-petrovsko-razumovskaya {min-height: 500px;
padding-top: 35px;}

/*Zapis-na-trenirovku*/

.zapis-na-trenirovku {
min-height: 470px;
background: url(../img/form_fon.jpg) no-repeat;
padding-top: 110px;
background-attachment:fixed;
  background-size: cover;}
.zapis-na-trenirovku h2 {color: #ffffff;}
.zapis-na-trenirovku form{max-width: 1115px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 30px;}

.zapis-na-trenirovku input[type="text"] {width: 100%;
background-color: #222534;
color: #ffffff;
border: 2px solid #282840;
margin-bottom: 15px;
padding: 15px 20px 15px 20px;
text-transform: uppercase;
}
.zapis-na-trenirovku input[type="text"]:focus {border: 2px solid #686482;}
.zapis-na-trenirovku input[type="checkbox"] {display: none;}
.zapis-na-trenirovku label {max-width: 1060px;
float: right;
color: #ffffff;
position: relative;
font-size: 10px;
text-align: center;}
.zapis-na-trenirovku .agreement::before {content: "";
width: 16px;
height: 16px;
position: absolute;
border: 1px solid #646464;
top: 0px;
left: -25px;
background-color: #ffffff;}
.zapis-na-trenirovku div{margin-left: auto;
margin-right: auto;}
.zapis-na-trenirovku button {
width: 365px;
color: #ffffff;
text-transform: uppercase;
background-color: #22a10a;
padding: 10px 0;
font-weight: bold;
border: none;
margin-top: 30px;
border-radius: 4px;
margin-left: auto;
margin-right: auto;
text-align: center;}
button:hover {background: #175f08;}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
	text-align: center;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}
.footer {
	background-color: #1c1c28;
	padding-top: 20px;
}

.footer-copyright p{
	color: #a1abb5;
	font-size: 12px;
}
.footer-copyright a{
	color: #52a496;
}

.footer-links a{
	color: white;
	white-space: nowrap;
	font-size: 16px;
}
.footer-counter img{
	margin-top: 40px;
}

.address-block {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 530px;
	background-color: #202221;
	color: white;
	border-top: 2px solid #22a10a;
	padding-top: 10px;
	z-index: 111;	
	
}

.address-block li {
	padding-top: 10px;
}
.address-block li div{
	display: inline-block;
	vertical-align: top;
	

}
.col1 {
	height: 50px;
	background-color: #010101;
	width: 200px;
	margin-right: 15px;
	text-align: center;
	font-size: 20px;
	line-height:50px;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	margin-top: 25px;
}

li.active .col1{
	background-color: #22a10a;
}

.col1:hover {
	background-color: #22a10a;
}

.addrblock-metro {
	font-size: 17px;
    font-weight: bold;
}

.addrblock-phone {
	font-weight: bold;
}	


ul.address-list {
	list-style: none;
	padding: 0;
}

#map {
	width: 100%;
	height: 560px;
}

.question-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.question-form input[type="text"] {
	height: 60px;
	margin-bottom: 15px;
}

.question-form textarea {
	height: 130px;
	padding-top: 15px;
}



.question-form .btn-success {
	width: 100%;
	height: 50px;
	bottom: 0;
    }

.question-form-title {
	color: #334182;
	font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.question-form-firmname {
	color: #25ad0f;
	font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.question-form-firmname::after {
	display: block;
	content: "";
	width: 45px;
	height: 2px;
	border-bottom: 2px solid #a3b2b9;
	margin-top: 10px;
}

.question-form-address-title {
	color: #25ad0f;
	font-weight: bold;
}

.form-addresses li{
	color: black;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	left: 15px;
    margin-right: 15px;
}
	
.form-addresses li::before {
	content: "";
	width: 15px;
	height: 20px;
	display: block;
	background: url(../img/gym_icon.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: -15px;
	
}
	
	
.row-flex {
    display: flex;
    flex-flow: row wrap;
}


.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
  color: #a4b4cd;
  font-size: 17px;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.comments-block {
	background-image: url(../img/comments-bg.jpg);
}
.shortcode-title-with-underline {
	position: relative;
    display: block;
    margin-bottom: 50px;
}
.shortcode-title-with-underline h3 {
	color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.text-center {
	text-align: center;
}


.shortcode-title-with-underline::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 60px;
    bottom: -25px;
    left: 50%;
    position: absolute;
    margin-left: -30px;
}

.comment {
	color: white;
}

.testimonial-slider {
    max-width: 730px;
    margin: 0 auto;
}

.testimonial-slider .avatar {
    padding-right: 20px;
}

.testimonial-slider .avatar, .testimonial-slider .title {
    display: table-cell;
    vertical-align: middle;
}


.testimonial-slider .title h4 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.testimonial-slider .client-info {
    display: table;
    margin: 30px auto;
}

.testimonial-slider .avatar {
    padding-right: 20px;
}


.testimonial-slider .avatar img {
    max-width: 70px;
    border-radius: 100%;
}
.comments-block {
    background-color: #222;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px -2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0px -2px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0px -2px 0 rgba(0,0,0,.3);
    box-shadow: 0px -2px 0 rgba(0,0,0,.3);
    color: #fff;
    padding: 40px 0;
}

.full-width-carousel {
    position: relative;
}

.full-width-carousel .full-width-carousel-nav .owl-prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}
.gallery-slider-style-1 .gallery-item .gallery-info {
    height: 100%;
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 1;
}

.gallery-slider-style-1 .gallery-item .gallery-table {
    display: table;
    height: 100%;
    width: 100%;
}

.gallery-slider-style-1 .gallery-item .gallery-table-content {
    display: table-cell;
    vertical-align: middle;
}

.gallery-slider-style-1 .gallery-item .gallery-info h4 {
    color: #fff;
    line-height: 24px;
    font-weight: 400;
}

#home-v1-gallery-slider .owl-nav .owl-prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

#home-v1-gallery-slider .owl-nav .owl-next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

/*
#home-v1-gallery-slider .owl-nav .owl-prev, 
#home-v1-gallery-slider .owl-nav .owl-next {
    background-color: #fff;
    color: #2c3e50;
    cursor: pointer;
    font-size: 24px;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 1;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}


#home-v1-gallery-slider .owl-nav .owl-prev:hover, 
#home-v1-gallery-slider .owl-nav .owl-next:hover {
    background-color: rgba(0,0,0,.5);
    color: #fff;
}*/

.gallery-block {
	margin-top: 20px;
	/*margin-bottom: 20px;*/
}



#home-v1-gallery-slider .owl-nav .owl-prev{
	
    background-image: url(../img/left.png);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 1;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    margin-top: -67px;
    background-size: 67px 135px;
    height: 135px;
    width: 67px;
    left: 47px;
}
#home-v1-gallery-slider .owl-nav .owl-next{
	
    background-image: url(../img/right.png);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 1;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    margin-top: -67px;
    background-size: 67px 135px;
    height: 135px;
    width: 67px;
    right: 47px;
}

.raspisanie {
	margin-bottom: 50px;
}

.addresses-maps {
	position: relative;
}
.zapisatsya .parallax {min-height: 477px;
background: url(../img/press_2.jpg);
background-attachment:fixed;
  background-size: cover;}

.skidka-na-kartu .parallax {min-height: 554px;
background: url(../img/promo_fon.jpg);
background-attachment:fixed;
  background-size: cover;
  padding-top: 60px;}
  @media screen and (max-width: 768px) {
	
}

.block-main-menu {
	margin-top: 25px;
	
}
.block-main-menu ul {
	/*display: flex;
    justify-content: space-around;*/
	font-size: 17px;
	font-weight: bold;
	color: #0b0800;
	padding-top: 25px;
	list-style: none;
	text-transform: uppercase;
	
}

.block-main-menu ul li.logo-fixed,
.block-main-menu ul li.phone-email-fixed {
	display: none;
}
.block-main-menu ul li {
	white-space: nowrap;
}

.block-main-menu ul li a{
	color: #0b0800;
}

.main-menu {
	transition: 1s;
}

.main-menu-fixed {
	
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222534;
  z-index: 9999;
  
  min-height: 0;
  /*transition: 1s;*/
 
  margin-top:0;
  height: 77px;
  line-height: 77px;
 
 
  
  
}



.block-main-menu.main-menu-fixed ul {
	padding: 0;
	/*transition: 1s;*/
}
.block-main-menu.main-menu-fixed ul li a{
	color: white;
	/*transition: 1s;*/
}
.block-main-menu.main-menu-fixed ul li.logo{
	display: none;
}

.block-main-menu.main-menu-fixed ul li.logo-fixed,
.block-main-menu.main-menu-fixed ul li.phone-email-fixed{
	display: table-cell;
}
.phone-email-fixed {
	vertical-align:middle;
	color: white;
}
.phone-email-fixed p{
	margin: 0;
	padding: 0;
	line-height: 33px;
	font-weight: normal;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
	border-color: #ddd;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
@media screen and (max-width: 1920px) {
	.block-main-menu .navbar-brand {
		display: none;
	}
}


@media screen and (max-width: 768px) {
	.block-main-menu li.logo {
		display: none;
	}
	.block-main-menu .navbar-brand {
		display: block;
	}
	.contacts .social {display: none;}
	.contacts .phone-email {display: none;}
	.contacts .vubor-cluba{max-width: 180px;
	min-width: 180px;
	float: left;
	text-align: center;
	margin-left: 15px;}
	.contacts .klub-button {max-width: 180px;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	height: 53px;}
	.contacts .vubor-cluba>ul {max-width: 180px;}
	.contacts .zvonok {max-width:130px;
	float: left;}
	.contacts .zvonok button {max-width: 130px;
	font-size: 12px;
	font-weight: bold;
	line-height: 9px;}
	.contacts .zvonok-button::before {font-size: 20px;}
	.contacts .spisok-klubov {left: -15px;
	padding-left: 15px;
	width: 358px;}
	.contacts .spisok-klubov li {max-width: 215px;
	font-size: 15px;
	margin-left: 70px;}
	.contacts .spisok-klubov li:before {left: -55px;}
	/*.promo_1 {background-position: -520px -0px;}*/
	.promo_1 {
		background-position: center;
		}
	.promo_1 p{	
		font-size: 16px;
	}
	.promo_2 {display: none;}
	.usluga-description {padding-bottom: 10px;}
	.usluga-description h3 {min-height: 3px;}
	.right-form .club {margin-right: auto;}
	.right-form button {width: 265px;
	margin-bottom: 10px;}
	.right-form .agreement {margin-left: 10px;}
	.card-descriptoin .center {margin-bottom: 5px;}
	.card-descriptoin p {margin-top: 15px;}
	.card-descriptoin .weekend {padding-top: 0px;}
	.skidka-na-kartu h2 {margin-bottom: 50px;}
	.skidka-na-kartu .parallax {padding-top: 30px;}
	.skidka-na-kartu button {width: 265px;
	margin-bottom: 15px;}
	.address-block {display: none;}
	.promo-text p {font-size: 22px;}
.promo-left {height: 450px}
.promo-right {display: none;}
.promo-photo {min-height: 450px;}
.promo-photo-club img {width: 300px;}
.promo-slogan-club {padding-top: 50px;}
.trener-introduction {margin-bottom: 15px;}
.zapis-na-trenirovku button {width: 265px;
	margin-bottom: 15px;}
.question-form .col-lg-6 {margin-bottom: 10px;}


.block-main-menu.main-menu-fixed ul li.logo-fixed,
.block-main-menu.main-menu-fixed ul li.phone-email-fixed{
	display: none;
}

.block-main-menu.main-menu-fixed ul.nav-justified {
	background-color: #222534;
}

.block-main-menu {
	line-height: 40px;
}

.block-main-menu ul li,
.block-main-menu.main-menu-fixed ul li {
	text-align: center;
}
.navbar-collapse.collapsing,
.navbar-collapse.in {
	padding: 0;
}

.block-main-menu.main-menu-fixed .navbar-toggle {
    margin-top: 15px;
    margin-right: 15px;
}

.block-main-menu.main-menu-fixed .container>.navbar-header,
.block-main-menu.main-menu-fixed .container>.navbar-collapse {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 15px;
}
.block-main-menu.main-menu-fixed .container {
	padding-left: 0;
	padding-right: 0;
}

.block-main-menu.main-menu-fixed .navbar {
	border: none;
}



}
.phone-email .top-email::before {
	content: "\f1fa";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
    top: 5px;
    left: -5px;
    font-size: 25px;
}
.phone-email .top-phone::before {
	content: "\f095";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
    top: 5px;
    left: -5px;
    font-size: 25px;
}

.zvonok-button::before {
	content: "\f2a0";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: relative;
    
    font-size: 25px;
}

.phone-email ul li{
	font-size: 14px;
	line-height: 46px;
}
.zvonok button {
	font-size: 17px;
	line-height: 36px;
}

.carousel-with-button-outside {
    position: relative;
}
#trainers-gallery-slider .owl-nav .owl-prev, 
#trainers-gallery-slider .owl-nav .owl-next {
	background-color: #3a3e4a;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	width: 50px;
	cursor: pointer;
	-webkit-transition: background-color .3s ease 0s;
	-moz-transition: background-color .3s ease 0s;
	-o-transition: background-color .3s ease 0s;
	transition: background-color .3s ease 0s;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 1;
	
}

#trainers-gallery-slider .owl-nav .owl-prev {
    left: 0;
    border-radius: 100%;
}

#trainers-gallery-slider .owl-nav .owl-next {
    right: 0;
    border-radius: 100%;
}
#trainers-gallery-slider .owl-nav .owl-prev:hover,
#trainers-gallery-slider .owl-nav .owl-next:hover{
	background-color: #5bd920;
}


#trainers-gallery-slider .owl-nav .owl-prev::before {
	
	font-family: "Font Awesome 5 Free";
	content: "\f060";
	font-weight: 900;
}

#trainers-gallery-slider .owl-nav .owl-next::before {
	
	font-family: "Font Awesome 5 Free";
	content: "\f061";
	font-weight: 900;
}
	#trainers-gallery-slider .owl-nav .owl-next {
		right: -115px;
	}
	#trainers-gallery-slider .owl-nav .owl-prev {
		left: -115px;
	}

@media screen and (max-width: 1370px){
	#trainers-gallery-slider .owl-nav .owl-next {
		right: 0;
	}
	#trainers-gallery-slider .owl-nav .owl-prev {
		left: 0;
	}
	.phone-email .top-email::before,
	.phone-email .top-phone::before {
		top: 3px;
		font-size: 20px;
	}
	.spisok-klubov {left: -580px;}
}

.promo_1 .outer {
	position: relative;
	min-height: 210px;
}

.promo_1 .inner {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.phone-fixed,
.email-fixed {
	font-size: 15px;
}

.contacts .phone-email {
	line-height: 46px;
}

.new-button {
	background: url(../img/select_button.png) no-repeat;
    background-size: contain;
    
    height: 73px;
	
}

.ul-new-button {
	padding: 0;
    line-height: 46px;
    font-size: 14px;
	list-style: none;
}

.li-new-button {
	color: white;
    font-size: 20px;
}
.row {
	margin-right: 0;
	margin-left: 0;
}